h1,h2,li
{color:white;
 text-align:center;


}

legend
{color:orange;}

.a4
{
	color:white;
}


.a5
{
	color:red;
	 font-size:50px;
	 font-weight: bolder;

}

.k1
{
background-color:red;
border :none;
  display: inline-block;
 
  border-radius: 700px;
  border: 4px double ;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
button:hover {
  background-color: green;

}

div
{text-align:center;}